@require "reset_modal"
.modal-content
  .modal-body
    .img
      display block
      width 190px
      height 76px
      margin 15px auto
      padding-top 20px
      p
        display block
        font-size 28px
        color #ffffff
        margin-left -130px
  .modal-footer
    margin-top -20px
    #btn_sure1
      width 220px
      height 45px
      border-radius 2px
      margin-right 0px
    #btn_sure2
      width 220px
      height 45px
      border-radius 2px
      margin-right 0px
    #btn_sure3
      width 220px
      height 45px
      border-radius 2px
      margin-right 0px
#rooler_content
  width 100%
  height 1390px
  background url("/img/gulp/turnTable_bg.png") no-repeat
  background-size cover
  padding-top 85px
  .rooler
    background url("/img/gulp/rooler.png")
    display block
    width 615px
    height 615px
    margin 250px auto 0px auto
    padding-top 150px
  .rooler_arrow
    background url("/img/gulp/turnTable_arrow.png")
    margin 0 auto 0 auto
    width 320px
    height 320px
    line-height 320px
    padding-top 75px
    .rooler_start
      text-decoration none
      margin 0 auto
      display block
      width 176px
      line-height 176px
      background url("/img/gulp/turnTable_start.png")
      p
        text-align center
        font-size 50px
  .rooler_footer
    background url("/img/gulp/turnTable_cloud.png")
    background-size cover
    width 100%
    height 795px
    margin-top 70px